<!DOCTYPE html>
<html lang="en" class="crt crt-side-box-on crt-nav-on crt-nav-type2 crt-main-nav-on crt-sidebar-on crt-layers-1">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Certy</title>
    <meta name="description" content="">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <!-- Icon Fonts -->
    <link href="assets/fonts/icomoon/style.css" rel="stylesheet">
    <!-- Styles -->
    <link href="assets/css/plugins.min.css" rel="stylesheet">
    <link href="assets/css/style.min.css" rel="stylesheet">
    <!-- Modernizer -->
    <script type="text/javascript" src="assets/js/vendor/modernizr-3.3.1.min.js"></script>
    <script></script>
</head>

<body class="">
<div class="crt-wrapper">
    <header id="crt-header">
        <div class="crt-head-inner crt-container">
            <div class="crt-container-sm">
                <div class="crt-head-row">
                    <div id="crt-head-col1" class="crt-head-col text-left">
                        <a id="crt-logo" class="crt-logo" href="index.html">
                            <img src="assets/images/uploads/brand/logo.svg" alt="certy resume">
                            <span>.Certy</span></a>
                    </div>
                    <div id="crt-head-col2" class="crt-head-col text-right">
                        <div class="crt-nav-container crt-container hidden-sm hidden-xs">
                            <nav id="crt-main-nav">
                                <ul class="clear-list">
                                    <li>
                                        <a href="/home">home</a></li>
                                    <li>
                                        <a href="technology.html">Technology</a></li>
                                    <li>
                                        <a href="contact.html">contact</a></li>
                                    <li class="has-sub-menu">
                                        <a href="#">Test</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/error/503">seata分布式事务测试</a></li>
                                            <li>
                                                <a href="/error/404">404</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub-menu">
                                        <a href="/error/404">blog</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="/error/404">正在施工中...</a></li>
<!--                                            <li>-->
<!--                                                <a href="single-image.html">single image</a></li>-->
<!--                                            <li>-->
<!--                                                <a href="single-slider.html">single slider</a></li>-->
<!--                                            <li>-->
<!--                                                <a href="single-youtube.html">single youtube</a></li>-->
<!--                                            <li>-->
<!--                                                <a href="single-vimeo.html">single vimeo</a></li>-->
<!--                                            <li>-->
<!--                                                <a href="single-dailymotion.html">single dailymotion</a></li>-->
<!--                                            <li>-->
<!--                                                <a href="single-soundcloud.html">single soundcloud</a></li>-->
<!--                                            <li>-->
<!--                                                <a href="single-video.html">single video</a></li>-->
<!--                                            <li>-->
<!--                                                <a href="single-audio.html">single audio</a></li>-->
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div id="crt-head-col3" class="crt-head-col text-right">
                        <button id="crt-sidebar-btn" class="btn btn-icon btn-shade">
                            <span class="crt-icon crt-icon-side-bar-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
            </div>
        </header>
    <div id="crt-container" class="crt-container">
        <div id="crt-side-box-wrap" class="crt-sticky">
            <div id="crt-side-box">
                <div class="crt-side-box-item">
                    <div class="crt-card bg-primary text-center">
                        <div class="crt-card-avatar">
                            <img class="avatar avatar-195" src="my/my.jpg" srcset="my/my.jpg 2x" width="195" height="195" alt=""></div>
                        <div class="crt-card-info">
                            <h2 class="text-upper">雷鹏</h2>
                            <p class="text-muted">专业：应用统计学</p>
                            <p class="text-muted">毕业：重庆理工大学</p>
                            <p class="text-muted">在校：2015.9-2019.6</p>
                            <p class="text-muted">学历：本科</p>
                            <p class="text-muted">电话：18716296148</p>
                            <p class="text-muted">邮箱：347863282@qq.com</p>
                        </div>
                    </div>
                    <div class="crt-side-box-btn">
                        <a class="btn btn-default btn-lg btn-block btn-thin btn-upper" href="my/lpresume.pdf">下载pdf版</a></div>
                </div>
                </div>
            </div>
        <!-- #crt-side-box-wrap -->
        <div id="crt-nav-wrap" class="hidden-sm hidden-xs">
            <div id="crt-nav-inner">
                <div class="crt-nav-cont">
                    <div id="crt-nav-scroll">
                        <nav id="crt-nav" class="crt-nav">
                            <ul class="clear-list">
                                <li>
                                    <a href="index.html#about" data-tooltip="自我介绍">
                                        <img class="avatar avatar-42" src="my/my.jpg" srcset="my/my.jpg 2x" alt=""></a>
                                </li>
                                <li>
                                    <a href="index.html#experience" data-tooltip="工作经历">
                                        <span class="crt-icon crt-icon-experience"></span>
                                        <!--<span class="glyphicon glyphicon-align-left"></span>-->
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html#project" data-tooltip="项目案例">
                                        <span class="crt-icon crt-icon-sitemap"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html#education" data-tooltip="校园经历">
                                        <span class="crt-icon crt-icon-eject"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html#technology" data-tooltip="技术一览">
                                        <span class="crt-icon crt-icon-book"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html#references" data-tooltip="对我的建议">
                                        <span class="crt-icon crt-icon-references"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html#contact" data-tooltip="提建议">
                                        <span class="crt-icon crt-icon-contact"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/error/404" data-tooltip="博客">
                                        <span class="crt-icon crt-icon-blog"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div id="crt-nav-tools" class="hidden">
                        <span class="crt-icon crt-icon-dots-three-horizontal"></span>
                        <button id="crt-nav-arrow" class="clear-btn">
                            <span class="crt-icon crt-icon-chevron-thin-down"></span>
                        </button>
                    </div>
                </div>
                <div class="crt-nav-btm"></div>
            </div>
        </div>
        <!-- .crt-nav-wrap -->
        <div class="crt-container-sm">

            <div id="about" class="crt-paper-layers crt-animate">
                <div class="crt-paper clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <section class="section padd-box">
                            <div class="row"  style="height: 700px">
                                <div class="col-sm-12">
                                    <h2 class="title-lg text-upper">自我介绍</h2>
                                    <div class="text-box">
                                        <h3>个人优势：</h3>
                                        <p>【Java开发】：拥有【系统规范】的Java开发知识，Java基础扎实。</p>
                                        <p>【数据分析】：补充过专业知识，拥有【系统规范】的统计学与数据分析知识。</p>
                                        <p>【机器学习经验】：【系统学习】过机器学习，研究学习过深度学习神经网络、LSTM、CNN。</p>
                                        <p>【20G大数据查错预测经验】：污水处理厂(站)监测数据查错、预测。</p>
                                        <p>【在校期间阅读100本以上的课外书籍】：高效的学习方法与工作效率。</p>
                                        <h3>其他：</h3>
                                        <p>1. 身体好。</p>
                                        <p>2. 热爱编程。</p>
                                        <p>3. 追求代码美感。</p>
                                        <p>4. 注重积累。</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div id="experience" class="crt-paper-layers crt-animate">
                <div class="crt-paper clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <section class="section padd-box">
                            <h2 class="title-lg text-upper">工作经历</h2>
                            <div class="education">
                                <div class="education-box">
                                    <time class="education-date" datetime="2019-01T2019-07">
                        <span>
                          <strong class="text-upper">2019/1</strong> -
                          <strong class="text-upper">2019/7</strong>
                        </span>
                                    </time>
                                    <h3>数据分析实习</h3>
                                    <div class="education-logo">
                                        <img src="my/htwl.jpg" alt="" style="height: 50px; width: 50px"></div>
                                    <span class="education-company">重庆环投生态环境监测网络与工程治理有限公司</span>
                                    <p>1. 利用数据分析和算法构建，检查收集的监测数据是否有错误。</p>
                                    <p>2. 研究监测数据是否可预测，提供可行的方法。</p>
                                    <p>3. 完成公司接的外包任务，Oracle数据库的表结构按要求优化。</p>
                                </div>
                                <!-- .education-box -->
                                <div class="education-box">
                                    <time class="education-date" datetime="2019-07T2020-05">
                        <span>
                          <strong class="text-upper">2019/7</strong> -
                          <strong>now</strong></span>
                                    </time>
                                    <h3>Null</h3>
                                    <div class="education-logo">
                                        <img src="my/kq.jpg" alt="" style="height: 50px; width: 50px"></div>
                                    <span class="education-company">null</span>
                                    <p>null</p>
                                </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            <div id="project" class="crt-paper-layers crt-animate">
                <div class="crt-paper clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <section class="section padd-box">
                        <!--秒杀项目-->
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="title-lg text-upper">项目案例</h2>
                                <div class="text-box">
                                    <h3><b>秒杀项目案例(2020/2-2020/3)</b></h3>
                                    <p><b>开发环境：</b>IDEA、jdk1.8、SpringBoot、Zookeeper、Centos7、Redis、Mysql、RabbitMQ、Git
                                    <br><b>技术：</b>seata分布式事务、redisson分布式锁、mycat读写分离、ConfIgServer、Hystrix、Feign、Mybatis逆向工程、stream消息驱动、DevTools热部署、thymeleaf等
                                    <br><b>模块功能：</b>1. 客户端功能→商品页面、消息页面、订单页面、秒杀页面、登陆页面<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        2. 登陆功能→未登陆拦截+接口限流(注解+拦截器方式)、cookies自动登陆<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        3. 秒杀功能→redis记录仓库信息，redis检测有商品则消息通过rabbitmq发送到后端，后端接收消息用redisson分布式锁修改redis信息，rabbitmq执行方法修改订单信息、消息信息
                                    </p>
                                </div>
                            </div>
                            <button id="btn-seckill" class="btn btn-share btn-upper" onclick="window.open('https://github.com/LP-tulutub/resume-parent/tree/master/seckill-parent')"><span class="crt-icon crt-icon-share-alt"></span>github</button><button id="btn-seckill2" class="btn btn-share btn-upper" onclick="window.open('/error/503')"><span class="crt-icon crt-icon-cloud"></span>on-line</button>
                        </div>
                        <div style="height: 50px"></div>
                        <!--外卖项目-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-box">
                                    <h3><b>外卖项目案例(2020/1-2020/2)</b></h3>
                                    <p><b>开发环境：</b>IDEA、jdk1.8、SpringBoot、Euraka、Centos7、Redis、Mysql、Git
                                        <br><b>模块服务：</b>account注册登陆登出服务、menu菜品服务、order订单服务、user用户处理服务、客户端服务(客户端、后台管理系统)、zipkin服务跟踪服务、zuul代理服务
                                    </p>
                                </div>
                            </div>
                            <button id="btn-takeout" class="btn btn-share btn-upper" onclick="window.open('https://github.com/LP-tulutub/take-out-parent')"><span class="crt-icon crt-icon-share-alt"></span>github</button><button id="btn-takeout2" class="btn btn-share btn-upper" onclick="window.open('/error/503')"><span class="crt-icon crt-icon-cloud"></span>on-line</button>
                        </div>
                        <div style="height: 50px"></div>
                        <!--电商项目-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-box">
                                    <h3><b>电商项目案例(2019/12-2020/1)</b></h3>
                                    <p><b>开发环境：</b>IDEA、jdk1.8、SSM、Dubbo、Zookeeper、Tomcat、Centos7、Redis、Mysql、Solr、Git
                                    <br><b>技术：</b>Mycat读写分离、Mybatis逆向工程、VSFTPD+NGINX、jsonp、SolrCloud、项目部署等
                                    <br><b>模块功能：</b>1. 客户端功能→主页面、搜索、商品、提交订单、订单、管理页面<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    2. 登陆功能→提交购物车时用拦截器判断是否登陆<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    3. 缓存功能→MultipartFile+ftp上传图片，redis缓存主页面广告图片、菜单<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    4. 搜索功能→SolrCloud+IK Anyalyzer搭建，提供分词搜索<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    5. 其他功能→各种增删改查功能，如：主页面菜单、管理菜单、增删商品等
                                    </p>
                                </div>
                            </div>
                            <button id="btn-ego" class="btn btn-share btn-upper" onclick="window.open('https://github.com/LP-tulutub/ego-parent')"><span class="crt-icon crt-icon-share-alt"></span>github</button><button id="btn-ego2" class="btn btn-share btn-upper"  onclick="window.open('/error/503')"><span class="crt-icon crt-icon-cloud"></span>on-line</button>
                        </div>
                        </section>
                        </div>
                    </div>
                </div>

            <div id="education" class="crt-paper-layers crt-animate">
                <div class="crt-paper clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <section class="section padd-box">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="title-lg text-upper">校园经历</h2>
                                    <div class="text-box">
                                        <p><b>2018.12</b>&nbsp&nbsp&nbsp<!--<br>-->2018年亚太地区大学生数学建模竞赛二等奖</p>
                                        <p><b>2019.3</b>&nbsp&nbsp&nbsp<!--<br>-->2018学年奖学金</p></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div id="technology" class="crt-paper-layers crt-animate">
                <div class="crt-paper clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <section class="section padd-box">
                            <div class="row"  style="height: 700px">
                                <div class="col-sm-12">
                                    <h2 class="title-lg text-upper">技术一览</h2>
                                    <div class="text-box">
                                        <h3><b>以下均为我熟悉的技能：</b></h3>
                                        <p><b>语言：</b>Java/Python核心语法<br>
                                        <p><b>Web框架：</b>Spring/SpringMVC/SpringData/SpringBoot/Mybatis<br>
                                        <p><b>数据检索：</b>Solr/Elasticsearch<br>
                                        <p><b>前端技术：</b>HTML/CSS/JavaScript/jQuery/Ajax/Bootstrap<br>
                                        <p><b>RPC框架：</b>Dubbo/SpringCloud<br>
                                        <p><b>数据库：</b>Mysql/Oracle/MongoDB/Redis<br>
                                        <p><b>版本管理：</b>Git<br>
                                        <p><b>开发工具：</b>IDEA<br>
                                        <p><b>其他：</b>JVM调优/SQL优化/CentOS7分布式集群搭建，项目部署/Docker<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div id="references" class="crt-paper-layers crt-animate">
                <div class="crt-paper clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <section class="section padd-box">
                            <h2 class="title-lg text-upper">对我的建议(公开)</h2>
                            <div class="padd-box-sm clear-mrg">

                                <!-- .ref-box -->
                                <div class="ref-box brd-btm hreview" th:each="contact : ${list}">
                                    <div class="ref-avatar">
                                        <img alt="" src="assets/images/uploads/avatar/avatar-58x58-default.png" srcset="assets/images/uploads/avatar/avatar-116x116-default-2x.jpg 2x" class="avatar avatar-54 photo" height="54" width="54"></div>
                                    <div class="ref-info">
                                        <div class="ref-author">
                                            <strong th:text="${contact.subject}"></strong>
                                            <span th:text="${contact.name}"></span></div>
                                        <blockquote class="ref-cont clear-mrg">
                                            <p th:text="${contact.comment}"></p>
                                        </blockquote>
                                    </div>
                                </div>

                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            <div id="contact" class="crt-paper-layers crt-animate">
                <div class="crt-paper clearfix">
                    <div class="crt-paper-cont paper-padd clear-mrg">
                        <div class="padd-box">
                            <h2 class="title-lg text-upper">提建议</h2>
                            <div class="padd-box-xs">
                                <header class="contact-head">
                                    <h3 class="title text-upper">感谢您的建议~</h3></header>
                            </div>
                            <div class="padd-box-sm">
                                <form action="/resume/contact" method="post" class="contact-form">
                                    <div class="form-group">
                                        <label class="form-label" for="author">Your Name</label>
                                        <div class="form-item-wrap">
                                            <input id="author" class="form-item" type="text" name="name" value="匿名"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="email">Your E-mail</label>
                                        <div class="form-item-wrap">
                                            <input id="email" class="form-item" type="email" required="required" name="email" value="347863282@qq.com"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="title">Your Title</label>
                                        <div class="form-item-wrap">
                                            <input id="title" class="form-item" type="title" name="subject"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="comment">Your Comment</label>
                                        <div class="form-item-wrap">
                                            <textarea id="comment" class="form-item" name="comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-item-wrap">
                                            <label class="radio-inline">
                                                <input type="radio" name="publicity" id="inlineRadio1" value=0 checked="checked">私信
                                            </label>&nbsp&nbsp
                                            <label class="radio-inline">
                                                <input type="radio" name="publicity" id="inlineRadio2" value=1>公开
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-submit form-item-wrap">
                                        <!--<input class="btn btn-primary btn-lg" type="submit" value="Post Comment">-->
                                        <button type="submit" class="btn btn-primary btn-lg">Post Comment</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!-- .padd-box -->
                        <div id="map" data-latitude="50.84592" data-longitude="4.366859999999974"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- .crt-container -->
    <div id="crt-sidebar">
        <button id="crt-sidebar-close" class="btn btn-icon btn-light btn-shade">
            <span class="crt-icon crt-icon-close"></span>
        </button>
        <div id="crt-sidebar-inner">
            <nav id="crt-main-nav-sm" class="visible-xs text-center">
                <ul class="clear-list">
                    <li>
                        <a href="/home">home</a></li>
                    <li>
                        <a href="technology.html">Technology</a><li>
                    <li>
                        <a href="contact.html">contact</a></li>
                    <li class="has-sub-menu">
                        <a href="#">Test</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/error/503">seata分布式事务测试</a></li>
                            <li>
                                <a href="/error/404">404</a></li>
                        </ul>
                    </li>
                    <li class="has-sub-menu">
                        <a href="/error/404">blog</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/error/404">正在施工中...</a></li>
<!--                                <li>-->
<!--                                    <a href="single-image.html">single image</a></li>-->
<!--                                <li>-->
<!--                                    <a href="single-slider.html">single slider</a></li>-->
<!--                                <li>-->
<!--                                    <a href="single-youtube.html">single youtube</a></li>-->
<!--                                <li>-->
<!--                                    <a href="single-vimeo.html">single vimeo</a></li>-->
<!--                                <li>-->
<!--                                    <a href="single-dailymotion.html">single dailymotion</a></li>-->
<!--                                <li>-->
<!--                                    <a href="single-soundcloud.html">single soundcloud</a></li>-->
<!--                                <li>-->
<!--                                    <a href="single-video.html">single video</a></li>-->
<!--                                <li>-->
<!--                                    <a href="single-audio.html">single audio</a></li>-->
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="crt-card bg-primary text-center">
            <div class="crt-card-avatar">
                <img class="avatar avatar-195" src="my/my.jpg" srcset="assets/images/uploads/avatar/avatar-390x390-2x.png 2x" width="195" height="195" alt=""></div>
            <div class="crt-card-info">
                <h2 class="text-upper">雷鹏</h2>
                <p class="text-muted">以下正在完善中...(仅样式)</p>
            </div>
        </div>
            <aside class="widget-area">
                <section class="widget widget_search">
                    <form role="search" method="get" class="search-form" action="#">
                        <label>
                            <span class="screen-reader-text">Search for:</span>
                            <input type="search" class="search-field" placeholder="Search" value="" name="s"></label>
                        <button type="submit" class="search-submit">
                            <span class="screen-reader-text">Search</span>
                            <span class="crt-icon crt-icon-search"></span>
                        </button>
                    </form>
                </section>
                <section class="widget widget_posts_entries">
                    <h2 class="widget-title">popular posts</h2>
                    <ul>
                        <li>
                            <a class="post-image" href="">
                                <img src="assets/images/uploads/blog/img-70x70-01.png" alt=""></a>
                            <div class="post-content">
                                <h3>
                                    <a href="">contextual advertising</a></h3>
                            </div>
                            <div class="post-category-comment">
                                <a href="" class="post-category">Work</a>
                                <a href="" class="post-comments">256 comments</a></div>
                        </li>
                        <li>
                            <a class="post-image" href="">
                                <img src="assets/images/uploads/blog/img-70x70-02.jpg" alt=""></a>
                            <div class="post-content">
                                <h3>
                                    <a href="">grilling tips for the dog days of summer</a></h3>
                            </div>
                            <div class="post-category-comment">
                                <a href="" class="post-category">Work</a>
                                <a href="" class="post-comments">256 comments</a></div>
                        </li>
                        <li>
                            <a class="post-image" href="">
                                <img src="assets/images/uploads/blog/img-70x70-03.png" alt=""></a>
                            <div class="post-content">
                                <h3>
                                    <a href=""></a>branding do you know who are</h3>
                            </div>
                            <div class="post-category-comment">
                                <a href="" class="post-category">Work</a>
                                <a href="" class="post-comments">256 comments</a></div>
                        </li>
                    </ul>
                </section>
                <section id="tag_cloud-2" class="widget widget_tag_cloud">
                    <h2 class="widget-title">Tags</h2>
                    <div class="tagcloud">
                        <a href="" class="tag-link-5 tag-link-position-1" title="1 topic" style="font-size: 1em;">Audios</a>
                        <a href="" class="tag-link-7 tag-link-position-2" title="1 topic" style="font-size: 1em;">Freelance</a></div>
                </section>
                <section id="recent-posts-3" class="widget widget_recent_entries">
                    <h4 class="widget-title">Recent Posts</h4>
                    <ul>
                        <li>
                            <a href="">Global Travel And Vacations Luxury Travel On A Tight Budget</a>
                            <div class="post-category-comment">
                                <a href="" class="post-category">Photography</a>
                                <a href="" class="post-comments">256 comments</a></div>
                        </li>
                        <li>
                            <a href="">cooking for one</a>
                            <div class="post-category-comment">
                                <a href="" class="post-category">Work</a>
                                <a href="" class="post-comments">256 comments</a></div>
                        </li>
                        <li>
                            <a href="">An Ugly Myspace Profile Will Sure Ruin Your Reputation</a>
                            <div class="post-category-comment">
                                <a href="" class="post-category">Photography</a>
                                <a href="" class="post-comments">256 comments</a></div>
                        </li>
                    </ul>
                </section>
                <section class="widget widget_categories">
                    <h4 class="widget-title">post categories</h4>
                    <ul>
                        <li class="cat-item">
                            <a href="">Audios</a>5</li>
                        <li class="cat-item">
                            <a href="">Daili Inspiration</a>2</li>
                        <li class="cat-item">
                            <a href="">Freelance</a>27</li>
                        <li class="cat-item">
                            <a href="">Links</a>5</li>
                        <li class="cat-item">
                            <a href="">Mobile</a>2</li>
                        <li class="cat-item">
                            <a href="">Phography</a>27</li></ul>
                </section>
            </aside>
        </div>
        <!-- #crt-sidebar-inner --></div>
    <!-- #crt-sidebar -->
    <footer id="crt-footer" class="crt-container-lg">
        <div class="crt-container">
            <div class="crt-container-sm clear-mrg text-center">
                <p>下面已经没有了哟~</p>
            </div>
        </div>
        <!-- .crt-container --></footer>
    <!-- #crt-footer -->
    <svg id="crt-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758">
        <polygon class="pol" points="0,455,693,352,173,0,92,0,0,71" /></svg>
    <svg id="crt-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633">
        <polygon points="0,0,633,0,633,536" /></svg>
</div>
<!-- .crt-wrapper -->
<!-- Scripts -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyDiwY_5J2Bkv2UgSeJa4NOKl6WUezSS9XA"></script>
<script type="text/javascript" src="assets/js/plugins.min.js"></script>
<script type="text/javascript" src="assets/js/theme.min.js"></script>
</body>

</html>