<!DOCTYPE html>
<html lang="en" class="crt crt-side-box-on crt-nav-on crt-nav-type2 crt-main-nav-on crt-sidebar-on crt-layers-1">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Certy</title>
    <meta name="description" content="">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <!-- Icon Fonts -->
    <link th:href="@{/assets/fonts/icomoon/style.css}" rel="stylesheet">
    <!-- Styles -->
    <link th:href="@{/assets/css/plugins.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style.min.css}" rel="stylesheet">
    <!-- Modernizer -->
    <script type="text/javascript" th:src="@{/assets/js/vendor/modernizr-3.3.1.min.js}"></script>
    <script></script>
</head>

<body class="">
<div class="crt-wrapper">
    <header id="crt-header">
        <div class="crt-head-inner crt-container">
            <div class="crt-container-sm">
                <div class="crt-head-row">




                </div>
            </div>
            </div>
    </header>
    <div id="crt-container" class="crt-container">

        <div style="padding-top: 25%">
            <form action="/read/login" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">源由：</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">因为内含大量个人信息，请输入密码↓↓↓</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">密码：</label>
                    <div class="col-sm-10">
                        <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password" style="color: #1f1f1f">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10"  style="padding-top: 20px;">
                        <button type="submit" class="btn btn-default">进入</button>
                    </div>
                </div>
            </form>
        </div>


    <!-- #crt-sidebar -->
    <footer id="crt-footer" class="crt-container-lg">
        <div class="crt-container">
            <div class="crt-container-sm clear-mrg text-center">

            </div>
        </div>
        <!-- .crt-container --></footer>
    <!-- #crt-footer -->
    <svg id="crt-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758">
        <polygon class="pol" points="0,455,693,352,173,0,92,0,0,71" /></svg>
    <svg id="crt-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633">
        <polygon points="0,0,633,0,633,536" /></svg>
</div>
<!-- .crt-wrapper -->
<!-- Scripts -->
    <script type="text/javascript" th:src="@{/assets/js/jquery-1.12.0.min.js}"></script>
<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyDiwY_5J2Bkv2UgSeJa4NOKl6WUezSS9XA"></script>
<script type="text/javascript" src="assets/js/plugins.min.js"></script>
<script type="text/javascript" src="assets/js/theme.min.js"></script>
</body>

</html>